<nb-layout>

<!--  <nb-layout-header>-->
<!--  &lt;!&ndash; Insert header here &ndash;&gt;-->
<!--  </nb-layout-header>-->

  <nb-layout-column>

<!--    <div class="col-sm-12 col-md-6 m-auto">-->
<!--      <div class="row">-->
<!--        <h1 class="mx-auto">Ania!</h1>-->
<!--        <div class="col-sm-12">-->
<!--          <rt-things-list></rt-things-list>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

    <router-outlet></router-outlet>


  </nb-layout-column>

<!--  <nb-layout-footer>-->
<!--  &lt;!&ndash; Insert footer here &ndash;&gt;-->
<!--  </nb-layout-footer>-->

</nb-layout>
