<nb-card>
  <nb-card-header>Add new item</nb-card-header>
  <nb-card-body>
    <form [formGroup]="newItemForm">
      <div class="form-control-group">
        <label class="label" for="name">Name:</label>
        <input type="text"
               nbInput
               fullWidth
               formControlName="name"
               fieldSize="medium"
               id="name"
               placeholder="Warka Radler Arbuzowe"
               aria-label="Name"
               required>
      </div>
      <div class="form-control-group">
        <label class="label" for="name">Description:</label>
        <input type="text"
               nbInput
               fullWidth
               formControlName="description"
               fieldSize="medium"
               id="description"
               placeholder="Description"
               aria-label="description"
               required>
      </div>
      <div class="form-control-group">
        <label class="label" for="name">Rate:</label>
        <input type="number"
               nbInput
               fullWidth
               formControlName="rate"
               fieldSize="medium"
               id="rate"
               placeholder="Rate"
               aria-label="rate"
               required>
      </div>
      <div class="form-control-group">
        <label class="label" for="name">Price:</label>
        <input type="number"
               nbInput
               fullWidth
               formControlName="price"
               fieldSize="medium"
               id="price"
               placeholder="Price"
               aria-label="price"
               required>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer align="end">
    <button nbButton size="small" (click)="onClose()">Close</button>
    <button nbButton size="small" status="primary" (click)="onSubmit()" [disabled]="newItemForm.invalid">Add</button>
  </nb-card-footer>
</nb-card>
